html,
body {
    margin: 0;
    padding: 0;
}

nav {
    align-items: flex-start;
    border-bottom: 1px solid #000000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-content: space-between;
    padding: 16px;
}

.breadcrumb_section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;

    & h2 {
        display: none;
    }

    & ol {
        display: flex;
        flex-direction: row;
        gap: 16px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    & ol li {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
}

.clipboard_copy_button {
    background-color: #eeeeee;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 12px;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 24px;

    &:active,
    &:active:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    }

    &:disabled,
    &:disabled:active,
    &:disabled:active:hover,
    &:disabled:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    }

    &:hover {
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.search_section {
    display: flex;

    & form {
        display: grid;
        flex: 1;
        gap: 8px;
        grid-template-columns: 1fr 24px;
    }

    & input {
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        font-size: 12px;
        height: 24px;
        margin: 0;
        padding: 0;
    }

    & input:nth-child(1) {
        background-color: #ffffff;
        padding: 0 6px;
    }

    & input:nth-child(2) {
        background-color: #eeeeee;
        box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.25);

        &:active,
        &:active:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
        }

        &:disabled,
        &:disabled:active,
        &:disabled:active:hover,
        &:disabled:hover {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
        }

        &:hover {
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }
}

.index_section {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & h2 {
        display: none;
    }

    & p {
        margin: 0;
    }
}

.backlinks_section {
    margin: 0;
    padding: 0;

    & h2 {
        font-size: 100%;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

    & ul {
        margin: 0;
        padding: 0 0 0 16px;
    }
}

.content_section {
    padding: 16px;
}
