<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ id }} {{ title }}</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <script defer="defer" src="/scripts/index.js"></script>
</head>

<body>
    <nav>
        <div class="breadcrumb_section">
            <h2>Breadcrumb</h2>
            <ol>
                <li><a href="/">/</a></li>
                <li><a href="/{{ id }}">{{ id }}</a></li>
            </ol>
        </div>

        <div class="page_title_section">
            <h2>Page Title</h2>
            <p class="page_title_container">
                <a href="/titles/{{ title | urlencode_strict }}">/titles/{{ title }}</a>
            </p>
        </div>

        <div class="search_section">
            <form action="/pages" method="get">
                <input name="q" type="text" value="" />
                <input type="submit" value="🔍" />
            </form>
        </div>

        <div class="index_section">
            <h2>Index</h2>
            <p><a href="/pages">/pages</a></p>
        </div>

        {% if !backlinks.is_empty() %}
        <div class="backlinks_section">
            <h2>Backlinks</h2>
            <ul>
                {% for (page_id, page_title) in backlinks %}
                <li>
                    <a href="/{{ page_id }}">{{ page_id }}</a>
                    <a href="/titles/{{ page_title | urlencode_strict }}">{{ page_title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </nav>

    <div class="content_section">
        {{ html | safe }}
    </div>

</html>
